<template>
  <q-card flat bordered square :class="isFirst ? 'roundedLBorder noRBorder' : (isLast ? 'roundedRBorder' : 'noRBorder')">
    <q-card-section>
      <div class="text-h6 text-center">{{ legend ? '&nbsp;' : date.toLocaleDateString('ru-UA').split('.').slice(0, -1).join('/') }}</div>
    </q-card-section>

    <q-card-section :class="'q-pt-none text-center text-h6' + (legend ? ' text-weight-regular' : ' text-primary')">
      {{ legend ? 'Людей' : lunch.peopleCnt }}
    </q-card-section>

    <q-separator inset/>

    <q-card-section class="text-center">
      {{ legend ? 'Заказано' : lunch.mealCnt + '/' + dinner.mealCnt }}
    </q-card-section>

    <q-separator inset/>

    <q-card-section class="text-center">
      {{ legend ? 'Осталось' : lunch.mealsLeft + '/' + dinner.mealsLeft }}
    </q-card-section>
  </q-card>
</template>

<script>
export default {
  name: "StatisticsCard",
  props: {
    timestamp: {
      type: Number,
      required: false
    },
    legend: {
      type: Boolean,
      required: false,
      default: false
    },
    isFirst: {
      type: Boolean,
      required: false,
      default: false
    },
    isLast: {
      type: Boolean,
      required: false,
      default: false
    }
  },
  computed: {
    date() {
      return this.timestamp ? new Date(this.timestamp) : null
    }
  },
  async created () {
    await this.init()
  },
  data() {
    return {
      lunch: {
        mealCnt: 0,
        peopleCnt: 0,
        mealsLeft: 0
      },
      dinner: {
        mealCnt: 0,
        peopleCnt: 0,
        mealsLeft: 0
      }
    }
  },
  methods: {
    async init () {
      if (!this.timestamp) {
        return
      }

      const data = (await this.$q.bex
        .send('net.fetchData', {timestamp: this.timestamp})).data

      if (data) {
        this.lunch = data.lunch
        this.dinner = data.dinner
      }
    }
  }
}
</script>

<style scoped>
strong {
  letter-spacing: 1px;
  font-size: 17px;
}

.roundedLBorder {
  border-top-left-radius: 5px !important;
  border-bottom-left-radius: 5px !important;
}

.roundedRBorder {
  border-top-right-radius: 5px !important;
  border-bottom-right-radius: 5px !important;
}

.noRBorder {
  border-right: 0 !important;
}
</style>
