input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

.q-field--outlined .q-field__control:before {
  border-color: rgba(0, 0, 0, 0.12);
}

.inputAccent input {
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  color: var(--q-primary);
}

.q-date__navigation {
  padding-bottom: 12px;
}
