<template>
  <div @mouseenter="clearTimer" @mouseleave="setTimer">
    <h5>Калькулятор обедов</h5>
    <div id="app">
      <div class="row">
        <div class="col">
          <div class="inputGroup q-px-lg q-my-lg">
            <div class="row">
              <div class="col-8">
                <div class="q-mb-md">
                  Введите количество сотрудников в офисе
                </div>

                <q-input outlined v-model="peopleCnt" label="Людей" type="number"
                         :disable="!isPredictorAvailable"/>
              </div>

              <div class="col-4 q-pl-md text-grey-8" v-if="!isPredictorAvailable">
                <div class="q-mb-md q-pt-xs">
                  &nbsp;
                </div>
                Недостаточно данных для подсчёта количества порций
              </div>

              <div class="col-2 q-pl-md" v-if="isPredictorAvailable">
                <div class="q-mb-md">
                  Обедов
                </div>

                <q-input class="inputAccent" outlined v-model="lunchCnt" disable/>
              </div>

              <div class="col-2 q-pl-md" v-if="isPredictorAvailable">
                <div class="q-mb-md">
                  Ужинов
                </div>

                <q-input class="inputAccent" outlined v-model="dinnerCnt" disable/>
              </div>
            </div>
          </div>

          <div class="q-mt-md">
            <div class="row q-px-lg">
              <statistics-card class="col" legend is-first/>
              <statistics-card class="col" v-for="i in 3" :key="i" :timestamp="+new Date() - 604800000 * i * 2"
                               :is-last="i === 3"/>
            </div>
          </div>
        </div>
        <div class="col">
          <p class="q-mt-lg q-mb-md">Выберите дату для внесения исторических данных</p>
          <q-date
            v-model="date"
            :first-day-of-week="1"
            :locale="locale"
            :no-unset="true"
            flat
            bordered
            minimal
          />
        </div>
      </div>

      <div class="q-mt-md q-px-lg">
        <h6 class="q-ma-none">Статистика за последние 14 дней</h6>
        <p class="caption text-grey-8 q-mt-sm q-mb-lg">* 0 означает отсутствие данных за день</p>

        <div class="row">
          <statistics-card class="col" v-for="i in 14" :key="i" :timestamp="+new Date() - 86400000 * i"
                           :is-last="i === 14" :is-first="i === 1"/>
        </div>
      </div>
    </div>
  </div>


  <q-dialog v-model="popupIsOpen" persistent>
    <q-card>
      <q-card-section>
        <div class="text-h6">{{ date }}</div>
      </q-card-section>

      <q-card-section class="q-pt-none">
        <div class="row">
          <div class="col-6">
            <q-input class="q-mr-md" type="number" label="Людей" dense v-model="historicData.peopleCnt" autofocus/>
          </div>
        </div>

        <div class="row q-mt-md">
          <div class="col">
            <q-input type="number" label="Заказано обедов" class="q-mr-md" dense
                     v-model="historicData.lunchCnt"/>
          </div>

          <div class="col">
            <q-input type="number" label="Ужинов" dense v-model="historicData.dinnerCnt"/>
          </div>
        </div>

        <div class="row q-mt-md">
          <div class="col">
            <q-input type="number" label="Осталось обедов" class="q-mr-md" dense
                     v-model="historicData.lunchesLeft"/>
          </div>

          <div class="col">
            <q-input type="number" label="Ужинов" dense v-model="historicData.dinnersLeft"/>
          </div>
        </div>
      </q-card-section>

      <q-card-actions align="right" class="text-primary">
        <q-btn @click="resetData" flat label="Отмена" v-close-popup/>
        <q-btn @click="saveData" flat label="Сохранить"/>
      </q-card-actions>
    </q-card>
  </q-dialog>
</template>
<script lang="ts">
import StatisticsCard from 'components/StatisticsCard'
import {debounce} from 'quasar';
import {defineComponent} from 'vue';

function isNumberCorrect(num) {
  const parsed = parseInt(num)

  return !(isNaN(parsed) || parsed <= 0);
}

function restoreSigmoidNet(json) {
  const {layers} = json

  return function (input) {
    return [1 / (1 + 1 /
      Math.exp(
        (layers[2]['0'].bias + layers[2]['0'].weights['0'] / (1 + 1 /
          Math.exp(
            (layers[1]['0'].bias + layers[1]['0'].weights['0'] * (input[0] || 0))
          )
        ) + layers[2]['0'].weights['1'] / (1 + 1 / Math.exp((layers[1]['1'].bias + layers[1]['1'].weights['0'] * (input[0] || 0)))) + layers[2]['0'].weights['2'] / (1 + 1 / Math.exp((layers[1]['2'].bias + layers[1]['2'].weights['0'] * (input[0] || 0)))))
      )
    )
    ]
  }
}

export default defineComponent({
  name: 'App',
  components: {StatisticsCard},
  beforeDestroy() {
    this.$q.bex.send('bridge.destroy')
  },
  data() {
    return {
      peopleCnt: '',
      dinnerNet: (input) => input,
      lunchNet: (input) => input,
      popupIsOpen: false,
      lunchCnt: 0,
      dinnerCnt: 0,
      timer: null,
      historicData: {
        peopleCnt: 0,
        lunchCnt: 0,
        dinnerCnt: 0,
        lunchesLeft: 0,
        dinnersLeft: 0
      },
      isPredictorAvailable: false,
      date: new Date,
      locale: {
        days: ['Воскресенье', 'Понедельник', 'Вторник', 'Среда', 'Четверг', 'Пятница', 'Суббота'],
        daysShort: ['Вс', 'Пн', 'Вт', 'Ср', 'Чт', 'Пт', 'Сб'],
        months: ['Январь', 'Февраль', 'Март', 'Апрель', 'Май', 'Июнь', 'Июль', 'Август', 'Сентябрь', 'Октябрь', 'Ноябрь', 'Декабрь'],
        monthsShort: ['Янв', 'Фев', 'Мар', 'Апр', 'Май', 'Июн', 'Июл', 'Авг', 'Сен', 'Окт', 'Ноя', 'Дек']
      }
    }
  },
  watch: {
    peopleCnt() {
      debounce(this.processInputMutation, 500)()
    },

    date() {
      if (!this.date) {
        return
      }

      this.$q.bex.send('popup.open').then(() => {
        this.$q.bex.send('net.fetchData', {date: this.date}).then(res => {
          if (res.data !== null) {
            this.historicData.peopleCnt = res.data.lunch.peopleCnt
            this.historicData.lunchCnt = res.data.lunch.mealCnt
            this.historicData.dinnerCnt = res.data.dinner.mealCnt
            this.historicData.lunchesLeft = res.data.lunch.mealsLeft
            this.historicData.dinnersLeft = res.data.dinner.mealsLeft
          }

          this.popupIsOpen = true
        })
      })
    },
  },
  async created() {
    this.setTimer()

    await this.initApp()
  },
  methods: {
    async initApp() {
      this.isPredictorAvailable = (await this.$q.bex.send('net.isAvailable')).data;

      if (this.isPredictorAvailable) {
        const networks = (await this.$q.bex.send('net.getNetworks')).data

        this.lunchNet = restoreSigmoidNet(networks.lunchNet)
        this.dinnerNet = restoreSigmoidNet(networks.dinnerNet)
      }
    },

    resetData() {
      this.historicData = {
        peopleCnt: 0,
        lunchCnt: 0,
        dinnerCnt: 0,
        lunchesLeft: 0,
        dinnersLeft: 0
      }

      this.date = null
      this.$q.bex.send('popup.close')
    },

    async saveData() {
      const {dinnerCnt, lunchCnt, peopleCnt, dinnersLeft, lunchesLeft} = this.historicData

      if (isNumberCorrect(dinnerCnt) &&
        isNumberCorrect(lunchCnt) &&
        isNumberCorrect(peopleCnt) &&
        parseInt(dinnerCnt) <= peopleCnt &&
        parseInt(lunchCnt) <= peopleCnt &&
        parseInt(dinnersLeft) <= dinnerCnt &&
        parseInt(lunchesLeft) <= lunchCnt
      ) {
        await this.$q.bex.send('net.insertData', {
          date: this.date, historicData: this.historicData
        })

        this.popupIsOpen = false

        await this.initApp()
        this.resetData()
      }
    },

    clearTimer() {
      clearInterval(this.timer)

      this.timer = null
    },

    setTimer() {
      this.timer = setInterval(() => {
        this.$q.bex.send('bridge.reload')
      }, 300000)
    },

    processInputMutation() {
      if (!this.isPredictorAvailable) {
        return
      }

      const parsedCount = parseInt(this.peopleCnt)

      if (!isNumberCorrect(this.peopleCnt)) {
        this.lunchCnt = 0
        this.dinnerCnt = 0
        return
      }

      let max_lunch = 0, maxI_lunch = 0, max_dinner = 0, maxI_dinner = 0, tmp1, tmp2

      for (let i = 0; i < 100; i++) {
        tmp1 = this.lunchNet([i / 100])[0]
        tmp2 = this.dinnerNet([i / 100])[0]

        if (tmp1 > max_lunch && tmp1 <= 1) {
          max_lunch = tmp1
          maxI_lunch = i
        }

        if (tmp2 > max_dinner && tmp2 <= 1) {
          max_dinner = tmp2
          maxI_dinner = i
        }
      }

      this.lunchCnt = Math.round((maxI_lunch / 100) * parsedCount)
      this.dinnerCnt = Math.round((maxI_dinner / 100) * parsedCount)
    }
  }
})
</script>

<style scoped>
#app {
  padding: 10px;
  background-color: #fff;
}
</style>
